.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.centre {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  height: 100vh;
}

.left {
  flex: 50%;
  border-right: 1px solid #fff;
  padding: 36px;

}

.right {
  flex: 50%;
  padding: 36px;
}